@model IEnumerable<Firma.Data.Data.AppSettings.Ustawienie>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Klucz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wartosc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klucz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wartosc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUstawienia">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
